<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h2>Log in, please</h2>
<form action="/login" method="post">
    <div>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <input type="password" name="password">
    </div>
    <div>Remember me
        <input type="checkbox" name="remember-me">
    </div>
    <div>
        <input type="submit" value="Log In">
    </div>
</form>
<div>
    <a href="/signup">No account yet? Sign up</a>
</div>
<div>
    <a href="#" onclick="forgotPassword(); alert('New password sent on you email!;')">
        Forgot password</a>
</div>
<script type="text/javascript">
    async function forgotPassword() {
        let username = document.getElementById("username").value
        let url = "/forgot-psw"
        let body = {username: username}
        await fetch(url, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(body)
        })
    }
</script>
</body>
</html>