<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h2>Log in, please</h2>
<form action="/login" method="post">
    <div>
        <input type="text" name="username">
    </div>
    <div>
        <input type="password" name="password">
    </div>
    <div>Remember me
        <input type="checkbox" name="remember-me">
    </div>
    <div>
        <input type="submit" value="Log In">
    </div>
</form>
<a href="/signup">No account yet? Sign up</a>
</body>
</html>