<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
</head>
<body>
<!--форма для регистрации-->
<h2>Sign up, please!</h2>
<form id="form" action="/signup" method="post">
    <div>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <input type="password" name="confirmPsw" placeholder="Confirm password"
        >
    </div>
    <div>
        <input type="email" name="email" placeholder="abc123@mail.com">
    </div>
    <div>
        <button type="button" value="Sign up" onclick="return submitForm()">
            Sign Up
        </button>
    </div>
</form>
<a href="/login">Have account already? Sign in!</a>
<script type="text/javascript" src="/js/signup.js"></script>
</body>
</html>